# Project exclude paths
/.gradle/
/Simple Banking System/task/out/
/Simple Banking System/task/out/production/classes/
/Topics/Branching statements/Bus tour/out/
/Topics/Branching statements/Bus tour/out/production/classes/
/Topics/Branching statements/The integer barrier/out/
/Topics/Branching statements/The integer barrier/out/production/classes/
/Topics/Calling a method/Call me awesome/out/
/Topics/Calling a method/Call me awesome/out/production/classes/
/Topics/Defining classes/Inner boxes/out/
/Topics/Defining classes/Inner boxes/out/production/classes/
/Topics/Inheritance/Classes for Hospital/out/
/Topics/Inheritance/Classes for Hospital/out/production/classes/
/Topics/Switch statement/Harry Potter/out/
/Topics/Switch statement/Harry Potter/out/production/classes/
/Topics/Switch statement/Shape/out/
/Topics/Switch statement/Shape/out/production/classes/
/Topics/Switch statement/Test learners/out/
/Topics/Switch statement/Test learners/out/production/classes/
/Topics/What is an exception/Avoid division by zero/out/
/Topics/What is an exception/Avoid division by zero/out/production/classes/